@import '../../styles/variables/mixins.scss';

.info_container {
    background-image: url('./../../assets/images/square.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
}

.info_wrapp {
    padding-inline: 15%;
    color: #8D8D8D;
    @include for-max-width-desktop {
        padding-inline: 0%;
    }
}

.info_title {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 600;
}

.info_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-inline: 40px;
    font-size: 12px;
    line-height: 14px;
    @include for-max-width-desktop {
        grid-template-columns: 1fr;
        padding-inline: 15%;
    }
}

.info_scroll {
    background-image: url('../../assets/images/scroll.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 85vh;
    overflow-x: scroll;
    overflow-y: hidden;
    @include for-max-width-fullHd_1300 {
        background: none;
        overflow: none;
        height: auto;
        padding-inline: 10% !important;
    }

}

.info_scroll_wrapp {
    display: flex;
    margin-inline: 100px;
    padding-top: 170px;
    gap: 50px;

    @include for-max-width-fullHd_1300 {
        display: flex;
        flex-direction: column;
        margin-inline: 0%;
        padding-top: 10px;
        gap: 50px;
    }
}

.info_scroll_title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
