.payment {
    position: absolute;
    top: 50px;
    left: 49px;
}

.payment_img {
    min-width: 99px;
    min-height: 66px;
}


.payment_none {
    display: none;
}


.payment_text {
    position: absolute;
    top: 40px;
    left: 35px;
    color: #F4B22F;
}