@import './../.././../styles/variables/mixins.scss';

.wrapper {
  background-image: url('./../../../assets/images/auth-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  background-image: url('./../../../assets/images/auth-wall.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  color: #666666;



  @include for-max-width-tabled {
    background-size: cover;
    padding-top: 20%;
  }
}


.content {
  display: flex;

  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  gap: 25px;

  @include for-max-width-tabled {
    padding-top: 0;
  }
  @include for-max-width-mobile_700 {
    padding-top: 5%;
  }
  @include for-max-width-mobile {
    padding-top: 19%;
  }

}

.form_group {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.text {
  margin-top: -15px;
  font-weight: 300;
  font-size: 25px;

}


.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 14px;
  position: relative;
}


.form_img {
  max-width: 150px;
  max-height: 100px;
}

.form_input {
  width: 100%;
  height: 44px;
  background: none !important;
  border: none;
  outline: 1px solid #666666;
  border-radius: 2px;
  padding: 0.50rem;
  padding-left: 1rem;
  @include for-max-width-mobile {
    height: 44px;
  }
}

.form_label {
  position: absolute;
  top: -12px;
  left: 15px;
  width: fit-content;
  padding-inline: 8px;
  background-color: #f9f3e9;
}

.form_checkbox {
  width: 20px;
  height: 20px;
}

.form_btn {
  padding-top: 30px;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #FF0000;
  color: white;
  border: 0.5px solid #FF0000;
  border-radius: 2px;
  font-weight: 300;
  margin-left: 125px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  @include for-max-width-mobile {
    margin-left: 0;
  }
}

.form_btn:hover {
  transform: scale(1.05);
}


  // -------------------- Animation -----------------------------
  .btn_animation {
    transition: all .3s ease-in-out;
    cursor: pointer;
  }


  .btn_animation:hover {
    transform: scale(1.05);
  }