@import './../.././../styles/variables/mixins.scss';

.wrapper {
    background-image: url('./../../../assets/images/auth-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    @include for-max-width-tabled {
      height: 110vh;
    }
}

.container {
    background-image: url('./../../../assets/images/auth-wall.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 100vh;
    color: #666666;
    @include for-max-width-tabled {
      background-size: cover;
      padding-top: 20%;
      height: 110vh;
    }
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    gap: 30px;
    @include for-max-width-desktop {
      padding-top: 15%;
    }
    @include for-max-width-tabled {
      padding-top: 0;
    }
    @include for-max-width-mobile_700 {
      padding-top: 5%;
    }
    @include for-max-width-mobile {
      padding-top: 15%;
      gap: 15px;
    }
    
  }
  .form_group {
    display: flex;
    
    flex-direction: column;
    gap: 25px;
    @include for-max-width-tabled {
      padding-inline: 20%;
    }
  }

  .text {
    margin-top: -15px;
    font-weight: 300;
  font-size: 25px;
  }


  .form {
  
    display: flex;
    flex-direction: column;
    
    font-size: 14px;
    position: relative;
  }


  .form_img {
    max-width: 150px;
    max-height: 100px;
  }

  .form_input {
    height: 43px;
    background: none;
    border: none;
    outline: 1px solid #666666;
    border-radius: 2px;
    padding: 0.50rem;
    padding-left: 1rem;
    resize: none;
    @include for-max-width-tabled {
     width: 300px;
    }
    @include for-max-width-mobile {
      width: 280px;
    }
  }

  .form_label {
    position: absolute;
    top: -12px;
    left: 15px;
    width: fit-content;
    padding-inline: 8px;
    background-color: #f9f3e9;
  }

  .form_checkbox {
    transform: scale(2);
    margin-right: 30px;
  }

  .form_btn {
    padding-top: 30px;
    font-size: 12px;
    padding: 10px;
    background-color: #FF0000;
    color: white;
    border: 0.5px solid #FF0000;
    border-radius: 2px;
    font-weight: 300;
    text-align: center;
    margin-left: 125px;
    @include for-max-width-tabled  {
      margin-left: 0px;
      margin-inline: 20px;
    }
  }

  .form_phone {
    display: flex;
    align-items: baseline;
    gap: 40px;
    position: relative;
    @include for-max-width-tabled  {
      display: block;
      text-align: end;
    }
  }

  .form_phone a {
    @include for-max-width-mobile  {
      padding-bottom: 10px;
    }
  }

.form_btn_group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include for-max-width-tabled  {
      margin-top: -10px;
      gap: 5px;
    }
}

.form_save_btn {
  color: #666666;
  text-decoration: underline;
  text-align: end;
  background: none;
  border: none;
  outline: none;
  @include for-max-width-mobile  {
    text-align: center;
    padding-block: 20px;
    padding-top: 10px;
  }
}